body{ background:  darkcyan}
h1 {text-align: center; color: rgb(119, 2, 148); font-family: fantasy; font-size: 50}
h2 {text-align: center; color: rgb(255, 49, 93); font-family: fantasy; font-size: 25}
p {text-align: center; color: yellow; font-family: fantasy; font-size: 25;}