h1 {text-align: center; color: rgb(255, 62, 62); font-family: fantasy; font-size: 50}
p { font-size: 25; color: yellow; font-family: fantasy; text-align: center}
body { background: darkcyan; }
img { text-align: center}
h2 { font-size: 25; color: rgb(255, 66, 66); font-family: fantasy; text-align: center}